*{
  /* outline: 1px dashed red; */
  margin: auto;
  text-decoration: none;
}

.container{
  width: 90%;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 20px;
}

.form-group{
  outline: 1px solid red;
}

.one{
  outline: 1px solid pink;
  width: 30%;
  float: left;
}

.imgUpload{
  width: 30%;
}


