<div class="container">

  <div class="navbar">
    <a href="#">Registration</a>
    <a href="#">Login</a>
    <a href="#">Admin</a>
  </div>
  <div class="searchBar">
    <input type=text placeholder="Product Search">
  </div>
  <div class="products">
    <a href="#">
      <h3 class="productLink">All Products</h3>
    </a>
    <table class="mainProduct">
      <tr>
        <td>
          <img width="70%" alt="Product Img" src="https://www.freeiconspng.com/uploads/no-image-icon-13.png">
        </td>
        <td>
          <a href="#">
            <h1>NIKE</h1>
          </a>
          <a href="#">
            <h3>AIR VAPORMAX PLUS</h3>
          </a>
          <h4>$225</h4>
          <p>US SIZE 9</p>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit deleniti totam odit officia labore delectus,
            voluptate ut nam repellat?</p>

        </td>
      </tr>
    </table>

    <table class="otherProducts">
      <tr>
        <td>
          <img width="70%" alt="Product Img" src="https://www.freeiconspng.com/uploads/no-image-icon-13.png">
        </td>
        <td>
          <img width="70%" alt="Product Img" src="https://www.freeiconspng.com/uploads/no-image-icon-13.png">
        </td>
        <td>
          <img width="70%" alt="Product Img" src="https://www.freeiconspng.com/uploads/no-image-icon-13.png">
        </td>
        <td>
          <img width="70%" alt="Product Img" src="https://www.freeiconspng.com/uploads/no-image-icon-13.png">
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">
            <h2>BALENCIAGA</h2>
          </a>
        </td>
        <td>
          <a href="#">
            <h2>ADIDAS</h2>
          </a>
        </td>
        <td>
          <a href="#">
            <h2>NIKE</h2>
          </a>
        </td>
        <td>
          <a href="#">
            <h2>ADIDAS</h2>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">KIDS SPEED TRAINERS</a>
        </td>
        <td>
          <a href="#">YEEZY BOOST 350 "BLUE TINT"</a>
        </td>
        <td>
          <a href="#">NMD R1 W</a>
        </td>
        <td>
          <a href="#">AIRMAX 97 OG "2017 RELEASE"</a>
        </td>
      </tr>
      <tr>
        <td>$305</td>
        <td>$305</td>
        <td>$305</td>
        <td>$305</td>
      </tr>
    </table>


  </div>

</div>
