<div class="container">
  <div class="navbar">
    <div class="header">
      <h3>Welcome Back!</h3>
      <br>
    </div>
    <div class="header" id="nav">
      <a href="#">Logout</a>
      <a href="#" class="link">Account</a>
    </div>
  </div>
  <h4>ORDER HISTORY</h4><br>
  <div class="orderHistory">
    <table width="100%" class="table table-hover">
      <tr class="info">
        <th width="15%">PURCHASED</th>
        <th width="15%">ORDER NO.</th>
        <th width="15%">NO. OF ITEM(S)</th>
        <th width="30%">ORDER STATUS</th>
        <th width="15%">ORDER TOTAL</th>
      </tr>
      <tr>
        <td width="15%">07/15/2018</td>
        <td width="15%">STD0494929</td>
        <td width="15%">6 Items</td>
        <td width="30%">Order Shipped</td>
        <td width="15%">$808</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <h4>REVIEWS</h4><br>
  <div class="orderHistory">
    <table width="100%" class="table table-hover">
      <tr class="info">
        <th width="10%"></th>
        <th width="10%">BRAND</th>
        <th width="20%">ITEM NAME</th>
        <th width="10%">PRICE</th>
        <th width="15%">PURCHASED</th>
        <th width="15%">ACTION</th>
      </tr>
      <tr>
        <td width="10%"><img width="40%" alt="Product Img" src="https://www.freeiconspng.com/uploads/no-image-icon-13.png"></td>
        <td width="10%">ADIDAS</td>
        <td width="20%">AIR MAX 97 OG QS</td>
        <td width="10%">$250</td>
        <td width="15%">April 25, 2017</td>
        <td width="15%"><a href="#"><button>ADD REVIEW</button></a></td>
      </tr>
    </table>
  </div>
</div>
