*{
  /* outline: 1px dashed red; */
  margin: auto;
  text-decoration: none;
}

.container{
  width: 90%;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.header{
  display: inline-flex;
}

#nav{
float: right;
}

.link{
  margin-left: 20px;
}

table {
  outline: 1px solid red;
}

th, td{
  padding: 5px;
}

.orderHistory{
  height: 200px;
  outline: 1px solid red;
  overflow: auto;
}
