<div class="container">
  <h4 class="banner">Shop The Dojo</h4>

  <div class="box">
    <h4>CONTACT CUSTOMER CARE</h4>
    <p>Email us 24/7 at:
      <br> support@shopthedojo.com
    </p>
  </div>

  <div class="box">
    <h4>@SHOPTHEDOJO</h4>
    <img width="20" alt="Facebook Logo" src="http://www.stickpng.com/assets/images/584ac2d03ac3a570f94a666d.png">
    <img width="20" alt="Instagram Logo" class="img" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png">
    <img width="20" alt="Google+ Logo" class="img" src="https://vignette.wikia.nocookie.net/markiplier/images/7/7e/Google%2B_Icon.png/revision/latest?cb=20150104105518">
    <img width="20" alt="Twitter Logo" class="img" src="https://www.freeiconspng.com/uploads/twitter-icon-11.png">
    <img width="20" alt="Twitter Logo" class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Mail_iOS.svg/2000px-Mail_iOS.svg.png">
  </div>

  <div class="box">
    <h4>CATEGORIES</h4>
    <a href="#">New Arrivals</a>
    <br>
    <a href="#">Nike</a>
    <br>
    <a href="#">Balenciaga</a>
    <br>
    <a href="#">Adidas</a>
  </div>

  <div class="box">
    <h4>FIND US!</h4>
    <p>Shop The Dojo
      <br> 12435 Main Street
      <br> Potomac, MD 20854</p>
  </div>


</div>
